@import "header.less";
//@color: #f5adad;

html{
  height:100%;
}

body{
  //background-color: @color;
  //font-family: "Roboto";
  height:100%;
  margin:0;
  background-color:#fafafa;
}

#root{
  height:100%;
}